In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [8]:
resumeData = pd.read_csv('ResumeDataSet.csv')
original_len = len(resumeData)
original_len

964

In [9]:
resumeData

           Category                                             Resume
0      Data Science  Skills * Programming Languages: Python (pandas...
1      Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2      Data Science  Areas of Interest Deep Learning, Control Syste...
3      Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4      Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..              ...                                                ...
959         Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960         Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961         Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...
962  Java Developer  Mustafa Officewala Room no.13, Jaya Apartment,...
963  Java Developer  Mustafa Officewala Room no.13, Jaya Apartment,...

[964 rows x 2 columns]

In [10]:
import re
def cleanResume(resumeText):
    resumeText = re.sub('http[\S+\s]*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace
    return resumeText
    
resumeData['cleaned_resume'] = resumeData.Resume.apply(lambda x: cleanResume(x))
resumeData['cleaned_resume'] = resumeData['cleaned_resume'].str.lower()

In [11]:
resumeData

,Category,Resume,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,education details may 2013 to may 2017 b e uit...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",areas of interest deep learning control system...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...
...,...,...,...
959,Testing,"PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...",personal skills quick learner eagerness to lea...
960,Testing,COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...,computer skills software knowledge ms power po...
961,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,skill set os windows xp 7 8 8 1 10 database my...
962,Java Developer,"Mustafa Officewala Room no.13, Jaya Apartment,...",mustafa officewala room no 13 jaya apartment t...
963,Java Developer,"Mustafa Officewala Room no.13, Jaya Apartment,...",mustafa officewala room no 13 jaya apartment t...

In [13]:
import nltk

In [14]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.stem import WordNetLemmatizer
from nltk import tokenize

In [15]:
stopword_list = set(stopwords.words('english')+['``',"''"])
print(stopword_list)

{'she', 'being', 'isn', 'your', "doesn't", 'but', 'above', 'few', 'out', "shouldn't", "wasn't", 'hasn', 'can', "needn't", 'had', 'weren', 'off', 'him', 'this', 'at', 'why', 'other', 'only', 'll', 'her', 'he', 'once', 'my', 'until', "hadn't", 'ourselves', 'further', 't', 'y', 'haven', 'will', 'these', 'didn', 'against', "couldn't", "should've", 'his', "shan't", 'not', 'its', 'themselves', 'of', 'up', 'same', 'm', "mustn't", 're', "you've", 'when', 'should', 'our', 'ma', "weren't", 'aren', "she's", 'hers', 'am', 'very', 'do', 'is', "hasn't", 'they', "wouldn't", 'was', 'no', 'between', 'below', 'here', 'mustn', 'have', 'through', 'into', 'about', 'them', 'mightn', 'any', 'doesn', 'there', 'wouldn', 'to', 'has', 'i', 'ain', 'itself', 'herself', 'does', 'own', 'on', 'theirs', 'that', 'been', 'because', 'more', 'in', 'were', "didn't", 'won', "mightn't", 'and', 'if', 'with', "haven't", 'don', 'o', 'then', 'during', 'where', 'yours', 'down', "it's", 'couldn', 'from', "you'll", 'a', "you'd", 'are', 'nor', 'hadn', 'having', "that'll", 'each', 'doing', 'for', "won't", 'myself', 'those', 'whom', 'be', 'an', 'which', 'after', 'again', 'such', "''", 'it', 's', 'than', 'the', 'some', 'both', 'who', 'by', "don't", 'now', 'yourself', '``', 'so', 'how', 'yourselves', 'too', 'as', 'ours', 'over', 'himself', 've', 'we', 'or', "aren't", 'wasn', 'all', 'did', 'd', "isn't", 'most', 'their', 'before', 'needn', 'while', 'what', 'you', "you're", 'under', 'shouldn', 'shan', 'me', 'just'}

In [16]:
resumeData.cleaned_resume=resumeData.cleaned_resume.apply(lambda x : " ".join(x for x in x.split() if x not in stopword_list))
resumeData['cleaned_resume'][5]

'skills c basics iot python matlab data science machine learning html microsoft word microsoft excel microsoft powerpoint recognition academic secured first place b tech education details august 2014 may 2018 b tech ghatkesar andhra pradesh aurora scientific technological institute june 2012 may 2014 secondary education warangal telangana sr junior college data science skill details ms office exprience less 1 year months c exprience less 1 year months machine learning exprience less 1 year months data science exprience less 1 year months matlab exprience less 1 year monthscompany details company description'

In [17]:
resumeData['cleaned_resume']=resumeData.cleaned_resume.apply(word_tokenize)

In [18]:
lemmatizer=WordNetLemmatizer()
resumeData['cleaned_resume']=resumeData.cleaned_resume.apply(lambda x:[lemmatizer.lemmatize(word) for word in x])
resumeData

,Category,Resume,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,"[skill, programming, language, python, panda, ..."
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,"[education, detail, may, 2013, may, 2017, b, e..."
2,Data Science,"Areas of Interest Deep Learning, Control Syste...","[area, interest, deep, learning, control, syst..."
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,"[skill, r, python, sap, hana, tableau, sap, ha..."
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...","[education, detail, mca, ymcaust, faridabad, h..."
...,...,...,...
959,Testing,"PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...","[personal, skill, quick, learner, eagerness, l..."
960,Testing,COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...,"[computer, skill, software, knowledge, m, powe..."
961,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,"[skill, set, o, window, xp, 7, 8, 8, 1, 10, da..."
962,Java Developer,"Mustafa Officewala Room no.13, Jaya Apartment,...","[mustafa, officewala, room, 13, jaya, apartmen..."
963,Java Developer,"Mustafa Officewala Room no.13, Jaya Apartment,...","[mustafa, officewala, room, 13, jaya, apartmen..."

In [19]:
resumeData.cleaned_resume= resumeData.cleaned_resume.astype(str)
cleaned_resume_list=resumeData['cleaned_resume'].array
cleaned_resume_list.shape

(964,)

In [20]:
x = resumeData.iloc[:,1].values
y = resumeData.iloc[:,0].values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0,test_size=0.03)

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
final = Pipeline([('Vect',TfidfVectorizer()), ('model',SVC(probability=True))])
final.fit(x_train,y_train)

Pipeline(steps=[('Vect', TfidfVectorizer()), ('model', SVC(probability=True))])

In [22]:
y_pred=final.predict(x_test)

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

1.0

In [24]:
final.predict([x_test[1]])

array(['Health and fitness'], dtype=object)

In [25]:
import pdfminer
from pdfminer.high_level import extract_text
text = extract_text('example.pdf')
lines = text.split('\n') # Split text into lines
lines = [line.strip() for line in lines if line.strip()] # Remove empty lines and leading/trailing spaces
text = ' '.join(lines) # Join lines with space separator
print(text)

S A R T H A K   C H A U H A N + 9 1 - 7 9 9 0 2 0 3 6 7 7 s a r t h a k c h a u h a n 5 7 9 @ g m a i l . c o m L i n k e d I n   P r o f i l e L e e t c o d e   P r o f i l e . E D U C A T I O N Sardar Vallabhbhai National Institute of Technology , Surat. (NIT Surat) B.Tech In Computer Science and Engineering.  CGPA - 8.75 Kendriya Vidyalaya, Vadodara. CBSE Class - 12th.  Score - 92.6% Kendriya Vidyalaya, Shillong. CBSE Class - 10th.  Score - 92% 2020 - 2024 March 2020 March  2018 S K I L L S Languages: C, C++, Python, JavaScript. (DSA in C++). Web Development: MERN Stack (MongoDB, Express Server, React.js, Node.js) Developer Tools and Technologies: jQuery, Bootstrap, Github, and EJS. Core Subjects: Operating Systems, Computer Networks, DBMS, and OOPS. P R O F I L E S : Solved 350+ questions on leetcode with >75% of them in medium and hard categories. link. 600+ coding score on geeksforgeeks practice platform - link. P R O J E C T S : Auction E-Comm Website -  Bringing skilled local artisans online. Oct 22 Team project in MERN Stack + Firebase (Node.js, Express, React, MongoDB, and Firebase) Complete E-Commerce Website with Admin Dashboard, Cart, Payment, Authentication, etc. Real-time auction and self-implemented recommendation system. 3 min Video Demonstration (All India Rank-9 in National Youth Conclave Hackathon IIT-J). Attendance  Tracker - MongoDB, Express, React.js, and Node.js. Feb 23 Attendance made easy. Mark attendance of students with just one click. Features: Pie and Bar Charts to show attendace, nodemailer, both for Admin and students. Weather  App - Node.js, Express Server, EJS Jun 22 Fetched real-time weather data through API on the express server. Displayed data dynamically through EJS view engine. T E A M W O R K   E X P E R I E N C E : Dec 2021-Mar 2022 Bluelearn - A student community funded by Titan Capitals and others. Worked directly under the founder featured in Forbes 30 under 30. Assisted them in changing to a new dark theme UI (Currently in use) Community size is increased by 110% to 100K+ after changing to the new UI. A C H I E V E M E N T S   A N D   I N T E R E S T S : All India Rank 9 in Youth Conclave National Hackathon held in IIT-Jodhpur. Participated in a national-level Inter-NIT football tournament held in NIT-Rourkela. Freelance work in UI Designing with 5+ clients. - My LinkedIn recommendations. 2 consecutive posts on linkedin about UI got 1 Million+ views - Post link.

In [26]:
cleaned_text = text.lower()
cleaned_text = cleanResume(cleaned_text)
print([cleaned_text])

['s a r t h a k c h a u h a n 9 1 7 9 9 0 2 0 3 6 7 7 s a r t h a k c h a u h a n 5 7 9 g m a i l c o m l i n k e d i n p r o f i l e l e e t c o d e p r o f i l e e d u c a t i o n sardar vallabhbhai national institute of technology surat nit surat b tech in computer science and engineering cgpa 8 75 kendriya vidyalaya vadodara cbse class 12th score 92 6 kendriya vidyalaya shillong cbse class 10th score 92 2020 2024 march 2020 march 2018 s k i l l s languages c c python javascript dsa in c web development mern stack mongodb express server react js node js developer tools and technologies jquery bootstrap github and ejs core subjects operating systems computer networks dbms and oops p r o f i l e s solved 350 questions on leetcode with 75 of them in medium and hard categories link 600 coding score on geeksforgeeks practice platform link p r o j e c t s auction e comm website bringing skilled local artisans online oct 22 team project in mern stack firebase node js express react mongodb and firebase complete e commerce website with admin dashboard cart payment authentication etc real time auction and self implemented recommendation system 3 min video demonstration all india rank 9 in national youth conclave hackathon iit j attendance tracker mongodb express react js and node js feb 23 attendance made easy mark attendance of students with just one click features pie and bar charts to show attendace nodemailer both for admin and students weather app node js express server ejs jun 22 fetched real time weather data through api on the express server displayed data dynamically through ejs view engine t e a m w o r k e x p e r i e n c e dec 2021 mar 2022 bluelearn a student community funded by titan capitals and others worked directly under the founder featured in forbes 30 under 30 assisted them in changing to a new dark theme ui currently in use community size is increased by 110 to 100k after changing to the new ui a c h i e v e m e n t s a n d i n t e r e s t s all india rank 9 in youth conclave national hackathon held in iit jodhpur participated in a national level inter nit football tournament held in nit rourkela freelance work in ui designing with 5 clients my linkedin recommendations 2 consecutive posts on linkedin about ui got 1 million views post link ']

In [27]:
predicted=final.predict([cleaned_text])
print(predicted)
predict = ''.join(predicted)
print(predict)

['Java Developer']
Java Developer

In [ ]:
import csv
with open('ResumeDataSet.csv', 'a') as file:
    writer = csv.writer(file)
    data = [predict, text]  # List of values to append
    writer.writerow([data[0],data[1]])
file.close()  # Close the file

In [ ]:
data1 = [predict,text,cleaned_text]
new_row = pd.DataFrame([data1], columns=resumeData.columns)
resumeData = resumeData.append(new_row, ignore_index=True)
print(resumeData)

In [ ]:
resumeData.columns

In [ ]:
len(resumeData)

In [ ]:
import csv
with open('ResumeDataSet.csv', 'a') as file:
    for x in range(original_len, len(resumeData)):
      writer = csv.writer(file)
      data = [resumeData['Category'][x], resumeData['Resume'][x]]  # List of values to append
      writer.writerow([data[0],data[1]])
file.close()  # Close the file
original_len = len(resumeData)

In [ ]:
import pickle

In [ ]:
pickle.dump(final,open('model.pkl','wb'))
model=pickle.load(open('model.pkl','rb'))